@import url('https://fonts.cdnfonts.com/css/hate-agent');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

table, td, th{
    padding: 10px;
    border-spacing: 30px;
    border: none;
    width: 100%;
}

.ScoreTable td{
    padding: 2%;
    border: solid;
    text-align: center;
    width: 20%;
    width: 20%;
}
body{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 200vh;
    background: linear-gradient(135deg, rgb(22, 51, 92), rgb(195, 195, 222),  rgb(5, 5, 66));
    overflow-x: hidden;
}

#bg1, #bg2, #bg3{
    width: 50px;
    height: 50px;
    z-index: -3;
    top: 15%;
    position: relative;
}

#bg4, #bg5, #bg6{
    width: 50px;
    height: 50px;
    z-index: -3;
    top: 15%;
    position: relative;
}

#bg7, #bg8, #bg9{
    width: 50px;
    height: 50px;
    z-index: -3;
    top: 15%;
    position: relative;
}

.frostBackgroundOverlay{
    opacity:0.8;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:-1;
    background-color: rgba(143, 149, 228, 0.188); 
    backdrop-filter: blur(20px); 
    border-radius: 10px;
    margin: 0px;
}

.addition{
    position: relative;
    left: 50%;
}

/*Francis CSS */ 

input[type=submit] {
    background-color: #4CAF50;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049; 
  }
  
  input[type=submit]:active {
    background-color: #3e8e41;
  }

/*.area{
    display: none;
}*/

.maintable{
    width: 100%;
    height: 289px;
    border-radius: 50px;
    background-color: transparent;
    box-shadow: 20px 20px 60px #000000,
    -20px -20px 60px #5e5d5d;
    position: relative;
    backdrop-filter: blur(20px); 

    /*top: 150px;*/
    display: flex;
  }
  
  .UserInput{
    width: 30%;
    height: 50%; 
    background-color: transparent;
    /*box-shadow: 20px 20px 60px #000000,
    -20px -20px 60px #5e5d5d;*/
    position: relative;

    left: 35%;
    display: flex;
  }
  
  .numimgs{
    width: 160px;
    height: 230px;
    position: absolute;
    border-radius: 10px;
    z-index: 999; 
  }
  
  .symbols{
    width: 100%;
    position: relative;
    z-index: 1;
  }
  
  .allnums{
    width: 100%;
    position: relative;
    transform: rotateY(0deg);
    z-index: 2;
  }
/*Francis CSS */ 

#header{
    padding: 20px 100px;
    /* background: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: darkorange;
    text-shadow: 0 0 24px black;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: yellow;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation li{
    list-style: none;
    display: inline;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background:whitesmoke;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background:transparent;
    border: 2px solid orange;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: whitesmoke;
    font-weight: 40px;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
    background: whitesmoke;
    color: orange;
}

.Menu2{
    display: none ;
}

.wrapper{
    width: 500px;
    /* height: 440px; */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter:blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display:inline-block;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    transition: transform .18s ease;
}

.wrapper .form-box.register{
    transition: transform .18s ease;
}
#wrapper2{
    transform: scale(0);
    display: none;
}
.form-box h2{
    font-size: 2em;
    color: blue;
    text-align: center;

}

.input{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid grey;
    margin: 30px 0;
}

.input label{
    position: absolute;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: aliceblue ;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input input:focus~label,
.input input:valid~label{
    top: 5px;
}

#DOB, #DOB2{
    opacity: 0%;
}

#DOB:focus, #DOB:valid, #Age:valid, #Age2:valid, #DOB2:focus , #DOB2:valid{
    opacity: 100%;
}

.genderType{
    display: block;
    text-align:left ;
}


.genderType h3{
    font-family:'Knife Princess',sans-serif;
    font-weight: 200;
}

.input input{
    font-family: 'Neo sans',sans-serif;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: gold;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: slategray;
    line-height: 57px;
}

fieldset .icon{
    font-size: 4vh;
}

.remember-forget{
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forget label input{
    accent-color:blue;
    margin-right: 3px;
}
.remember-forget a{
    color:silver;
    text-shadow: 2px 2px black;
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: grey;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: aqua;
    text-align: center;
    font-weight: 500;
    margin: 25PX 0 10px;

}
.login-register p a {
    font-family: 'NEO SANS',sans-serif;
    color: yellowgreen;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover {

    text-shadow: 0 0 12px orange;
    text-decoration: underline;

}


.remember-forget label{
    position: relative;
    left: 3px;
    top: 5px;
    color: gold;
    text-shadow: 0 0 10PX black;
}
.wrapper .icon-close{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    background: black;
    font-size: 2em;
    color: snow;
    border-bottom-left-radius: 20px;
    cursor:pointer;
    z-index: 1;
}

h1, p, #paragraph, #paragraph li{
    font-family: 'Yolk-Black',sans-serif;
    color:mintcream;
    text-shadow: 2px 2px black;
}

#paragraph{
    backdrop-filter: blur(10px);
    border: 2px solid black;
    border-radius: 15px;
    font-size: 3vh;
}

#paragraph ul li{
    color: orange;
    margin-left: 5vh;
}

#image_container{
    text-align: center;
}

#image_container img{
    border-radius: 20px; 
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
}

#paragraph p, #paragraph li{
    margin-left: 1vh;
}
.fun_facts{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

.slides{
    display: none;
}

#contact_table th{
    text-align: left;
}

footer{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    position:sticky;
}

.fixTable-column{
    display: inline-block;
}
#author_info{
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
}
#info a{
    font-family: 'Dm Sans',sans-serif;
    color:ghostwhite;
    font-weight: 300;
    /* text-shadow: 1px 1px dimgray; */
}

#info{
    background-color:black;
}

.icon-close i{
    position: relative;
    top: 5px;
}

footer{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    position:sticky;
}

.table2{
    display: none;
}

@media screen and (max-width:767px) {
    .Menu1{
        display: none ;
    }

    .Menu2{
        display: table-row ;
    }
    .navigation .btnLogin-popup{
        margin-top: 10px;
    }
    .table1, #contact_label{
        display: none;
    }
    .table2{
        display: table-row ;
    }
}

.playButtons{
    width: 130px;
    height: 50px;
    background:transparent;
    border: 2px solid orange;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: whitesmoke;
    font-weight: 40px;
    margin-left: 40px;
    transition: .5s;
}


#gameSection{
    padding: 0px;
    height: 700px;
}

.StartGameDiv{
    margin: 20px;
    height: 20px;
}

#answerbox{
    height: 10%;
    margin: 50px;
}

#maintable{
    margin: 20px;
}

.chart{
    background-color: aliceblue;
}